/* COLORS */
.bglite {
  background-color: #E8E5E0; }

.bgdark {
  background-color: #E1DED8; }

.bgselect {
  background-color: #E1DED8; }

.labelColor {
  color: #9C9484;
  fill: #9C9484; }

.green {
  color: #107358;
  fill: #107358; }

.card {
  background: #F5F4F0;
  box-shadow: 0 0 8px 0 rgba(199, 199, 199, 0.5); }

/*
Graphic Details:
Bone Dark
#E1DED8

Text Details (labels):
#9C9484

Text Inactive:
#C2BEB4

Text & Dark Elements:
Dark Brown
#403B2F

Cards and Highlighted buttons:
background: #F5F4F0;
box-shadow: 0 0 8px 0 rgba(199,199,199,0.50);
*/
/* MAIN */
body {
  color: #403B2F;
  background-color: #E8E5E0;
  font-family: 'Chivo', sans-serif;
  font-size: .9em; }

text {
  fill: #403B2F;
  color: #403B2F;
  font-size: 10px; }

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  line-height: 100%; }

/* SIDEBAR AND TOGGLES */
div#sidebar {
  width: 22%;
  padding: 1%;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  box-shadow: 0 0 8px 0 rgba(163, 163, 163, 0.5);
  overflow: hidden;
  /* CHANGE LATER */ }

.label {
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: 1px;
  display: block;
  margin: 3em 0 1em 0; }

#sliderLabel {
  margin-bottom: 1.5em; }

/* TOGGLES */
div.toggle {
  width: 100%;
  padding: .75em 0 .75em 0;
  border-top: 1px solid #D4D0C7;
  text-transform: capitalize; }

.toggled {
  fill: orange !important; }

/* SLIDER */
#sliderBox {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 4.5em; }

.sval {
  font-size: .75em;
  margin: 1.5em 0 .5em 0; }

span#s0 {
  float: left; }

span#s1 {
  float: right; }

/* SEARCH */
#search {
  width: 92%;
  height: 1em;
  padding: 1em 4% 1em 4%;
  border: none; }

#searchIcon {
  position: absolute;
  right: 3%;
  top: 55%;
  width: 6%;
  cursor: pointer;
  /*height: 15%;*/ }

.searchBox {
  position: relative; }

/* HOVERS */
.svgHoverImg {
  max-height: 4em;
  max-width: 4em; }

.imgBox {
  float: left;
  margin: 0 1em 0 0;
  padding: 0;
  height: 100%; }

.nodeDeets {
  padding: 1em 1em 0em 1em;
  min-width: 14em;
  width: auto;
  height: 6em;
  position: absolute;
  z-index: 100;
  font-size: .8em; }

.nodeDeets p {
  position: relative;
  top: -1.2em;
  line-height: 150%;
  /*margin-left: 1em;*/ }

.nodeDeets span {
  color: #C2BEB4; }

/* CHART */
div#chart {
  position: absolute;
  top: 0;
  left: 25%; }

svg#chartSVG {
  position: absolute;
  top: 0;
  left: 0; }

#Dada {
  fill: #E84E00; }

/* PROGRESS BAR */
#progress {
  position: fixed;
  top: 0;
  left: -6px;
  width: 0%;
  height: 2px;
  background: red; }

#progress:before,
#progress:after {
  content: "";
  position: absolute;
  height: 2px;
  opacity: 0.6;
  box-shadow: red 1px 0 6px 1px;
  border-radius: 100%; }

#progress:before {
  width: 20px;
  right: 0;
  clip: rect(-6px, 22px, 14px, 10px); }

#progress:after {
  width: 180px;
  right: -80px;
  clip: rect(-6px, 90px, 14px, -6px); }

.links line {
  display: none;
  stroke: #999;
  stroke-opacity: 0;
  stroke-width: 1; }

.nodes circle {
  /*stroke: #fff;*/
  /*stroke-width: 1.5px;*/
  fill: black;
  opacity: .8; }

/* PAN AND ZOOM */
#panZoomBox {
  position: fixed;
  width: 10%;
  top: 4%;
  right: 2%; }

div#pan {
  background-image: url("../images/panBack.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 300;
  margin: 0 auto;
  position: relative;
  width: 5em;
  height: 5em; }

div#zoom {
  width: 2em;
  margin: 1em auto 0 auto; }

div#pan div {
  width: 1em;
  height: 1em;
  background-position: center;
  background-size: 1em 1em;
  position: absolute; }

div#zoom div {
  width: 2em;
  height: 2em; }

div#pRight {
  border: none;
  background-image: url("../images/panRight.svg");
  top: 2em;
  right: .5em; }

div#pLeft {
  border: none;
  background-image: url("../images/panLeft.svg");
  top: 2em;
  left: .5em; }

div#pUp {
  border: none;
  background-image: url("../images/panUp.svg");
  top: .5em;
  left: 2em; }

div#pDown {
  border: none;
  background-image: url("../images/panDown.svg");
  margin: 0 auto;
  bottom: .5em;
  left: 2em; }
