/* COLORS */
.bglite {
  background-color: #E8E5E0; }

.bgdark {
  background-color: #E1DED8; }

.bgselect {
  background-color: #E1DED8; }

.labelColor {
  color: #9C9484;
  fill: #9C9484; }

.green {
  color: #107358;
  fill: #107358; }

.card {
  background: #F5F4F0;
  box-shadow: 0 0 8px 0 rgba(199, 199, 199, 0.5); }

/*
Graphic Details:
Bone Dark
#E1DED8

Text Details (labels):
#9C9484

Text Inactive:
#C2BEB4

Text & Dark Elements:
Dark Brown
#403B2F

Cards and Highlighted buttons:
background: #F5F4F0;
box-shadow: 0 0 8px 0 rgba(199,199,199,0.50);
*/
/* MAIN */
body {
  color: #403B2F;
  background-color: #E8E5E0;
  font-family: 'Chivo', sans-serif;
  font-size: .9em; }

text {
  fill: #403B2F;
  color: #403B2F;
  font-size: 10px; }

svg {
  position: relative;
  left: 25%; }

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  line-height: 100%; }

/* SIDEBAR AND TOGGLES */
div#sidebar {
  width: 22%;
  padding: 1%;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  box-shadow: 0 0 8px 0 rgba(163, 163, 163, 0.5);
  overflow: hidden;
  /* CHANGE LATER */ }

div#searchBox {
  width: 100%;
  height: 3em; }

span.label {
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: 1px;
  display: block;
  margin: 2.5em 0 1em 0; }

/* TOGGLES */
div.toggle {
  width: 100%;
  padding: .75em 0 .75em 0;
  border-top: 1px solid #D4D0C7;
  cursor: pointer;
  text-transform: capitalize; }

/* ----------------------- */
/*div.toggle.clicked {
  background-color: gray;
}*/
.toggled {
  fill: orange !important; }

div#chart {
  position: absolute;
  top: 0;
  left: 25%; }

svg {
  position: absolute;
  top: 0;
  left: 0; }

/* NODE DETAIL HOVERS */
div.nodeDeets {
  color: black;
  background-color: white;
  border: 1px solid pink;
  position: absolute;
  z-index: 100; }

/* PROGRESS BAR */
#progress {
  position: fixed;
  top: 0;
  left: -6px;
  width: 0%;
  height: 2px;
  background: red; }

#progress:before,
#progress:after {
  content: "";
  position: absolute;
  height: 2px;
  opacity: 0.6;
  box-shadow: red 1px 0 6px 1px;
  border-radius: 100%; }

#progress:before {
  width: 20px;
  right: 0;
  clip: rect(-6px, 22px, 14px, 10px); }

#progress:after {
  width: 180px;
  right: -80px;
  clip: rect(-6px, 90px, 14px, -6px); }

.links line {
  stroke: #999;
  stroke-opacity: 0.02;
  stroke-width: 1; }

.nodes circle {
  /*stroke: #fff;*/
  /*stroke-width: 1.5px;*/
  fill: blue; }
